<!DOCTYPE html>
<html>
<head><title>Redirect</title></head>
<body>
<script>
    localStorage.setItem('token', '<%= token %>');
    window.location.href = '/about'; // sau către pagina ta principală
</script>

</body>
</html>
